<!DOCTYPE html>
<html>
	<head>
		<title><%= title %></title>
		<link rel='stylesheet' href='/stylesheets/style.css' />
	</head>
		<body>
		<h1><%= title %></h1>
		<p><%= error %></p>

		<form method='post' action='/admin/deleteuserrequest'>
			username: <input type='text' name='username'><br>
			<button>delete user</button>
		</form>

		<form method='get' action='/admin/online'>
			<button>back</button>
		</form>
	</body>
</html>