<!DOCTYPE html>
<html>
	<head>
		<title><%= title %></title>
		<link rel='stylesheet' href='/stylesheets/style.css' />
		<script src='/javascripts/viewredirect.js'></script>
	</head>
	<body onload='redirect("<%- title %>", "", "<%- path %>", "<%- delay %>")'></body>
</html>