<!DOCTYPE html>
<html>
	<head>
		<title><%= title %></title>
		<link rel='stylesheet' href='/stylesheets/style.css' />
	</head>
	<body>
		<h1><%= title %></h1>
		<div>o captain! my captain,</div>
		<p><%= username %></p>

		<form method='get' action='/admin/online'>
			<button>view users</button>
		</form>

		<form method='get' action='/user/login'>
			<button>switch account</button>
		</form>

		<form method='get' action='/user/logout'>
			<button>log out</button>
		</form>
	</body>
</html>