<!DOCTYPE html>
<html>
	<head>
		<title><%= title %></title>
		<link rel='stylesheet' href='/stylesheets/style.css' />
	</head>
		<body>
		<h1><%= title %></h1>
		<p><%= error %></p>

		<form method='post' action='/admin/createuserrequest'>
			username: <input type='text' name='username'><br>
			password: <input type='password' name='password'><br>
			admin: <input type='checkbox' name='isadmin' value=true><br>
			<button>create user</button>
		</form>

		<form method='get' action='/admin/online'>
			<button>back</button>
		</form>
	</body>
</html>