<!DOCTYPE html>
<meta charset="utf-8" />
<html>
	<head>
		<title>Raphael Demo</title>
		<script src="/socket.io/socket.io.js"></script>
		<script src="../public/js/jquery-2.1.1.min.js"></script>
		<script src="../public/js/raphael-min.js"></script>
		<script src="../public/js/raphaeldemo.js"></script>

		<style type="text/css">
			#canvas svg {
				height: 800px;
				width: 800px;
				margin: 0 auto;
				margin-top: 50px;
				border: 1px black solid;
			}
		</style>
	</head>
	<body>
		<div id="canvas"></div>
	</body>
</html>