<!DOCTYPE html>
<html>
  <head>
    <title>Register</title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <h1>Register</h1>
    <p><%= message %></p>
    <p>Create a Kord account below</p>

    <form method="post" action="/user/login">
        Email: <input type="text" name="email"> <br>
        Password:  <input type="password" name="password"> <br>
        <button>Login</button>
    </form>
  </body>
</html>
