<!DOCTYPE html>
<meta charset="utf-8" />
<html>
	<head>
		<title><%= title %></title>
		<script src="../js/jquery-2.1.1.min.js"></script>
		<script src="../js/raphael-min.js"></script>

		<style type="text/css">
			#canvas svg {
				height: 800px;
				width: 800px;
				margin: 0 auto;
				margin-top: 50px;
				border: 1px black solid;
			}
		</style>
	</head>
	<body>
		<div id="canvas"></div>
		<script src="/socket.io/socket.io.js"></script>
		<script>
			var socket = io.connect('http://' + window.location.host);
			var userid = <%= userid %>;
			var boardid = <%= boardid %>;
			var roomid = <%= roomid %>;
		</script>
		<script src="../js/test-script.js"></script>
	</body>
</html>
