<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="description" content="kord.io makes it easy to connect and collaborate with others over an editable online whiteboard in realtime.">
    <meta name="keywords" content="kord, kord.io, draw, collaborate, real-time">
    <meta name="author" content="UMass Amherst CMPSCI 326: Julian, James, Sara, Nam, Mattheaus">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">

<!-- SITE TITLE -->
<title>Stamp - Responsive Landing Page Template</title>

<!-- =========================
     FAV AND TOUCH ICONS AND FONT  
    ============================== -->
<link rel="icon" href="images/favicons/favicon.ico">
<link rel="apple-touch-icon-precomposed" sizes="152x152" href="images/favicons/favicon-152.png">
<link rel="apple-touch-icon-precomposed" sizes="120x120" href="images/favicons/favicon-120.png">
<link rel="apple-touch-icon-precomposed" sizes="72x72" href="images/favicons/favicon-72.png">
<link rel="apple-touch-icon-precomposed" href="images/favicons/favicon-57.png">
<link href='http://fonts.googleapis.com/css?family=Cabin:400,600|Open+Sans:300,600,400' rel='stylesheet'>

<!-- =========================
     STYLESHEETS   
    ============================== -->
<!-- BOOTSTRAP AND ANIMATION -->
<link rel="stylesheet" href="css/bootstrap.min.css">
<link rel="stylesheet" href="css/animate.min.css">

<!-- FONT ICONS -->
<link rel="stylesheet" href="assets/icons/icons.css">

<!-- CAROUSEL AND LIGHTBOX -->
<link rel="stylesheet" href="css/owl.theme.css">
<link rel="stylesheet" href="css/owl.carousel.css">
<link rel="stylesheet" href="css/nivo-lightbox.css">
<link rel="stylesheet" href="css/nivo_themes/default/default.css">

<!-- CUSTOM STYLESHEETS -->
<link rel="stylesheet" href="css/styles.css">

<!-- RESPONSIVE FIXES -->
<link rel="stylesheet" href="css/responsive.css">

<!-- COLORS -->
<link rel="stylesheet" href="css/colors/blue.css">
<!-- DEFAULT COLOR/ CURRENTLY USING -->
<!-- <link rel="stylesheet" href="css/colors/red.css"> -->
<!-- <link rel="stylesheet" href="css/colors/green.css"> -->
<!-- <link rel="stylesheet" href="css/colors/green2.css"> -->
<!-- <link rel="stylesheet" href="css/colors/purple.css"> -->
<!-- <link rel="stylesheet" href="css/colors/orange.css"> -->

<!--[if lt IE 9]>
			<script src="js/html5shiv.min.js"></script>
    <![endif]-->
<!--[if gte IE 9]>
      <style type="text/css">
        .standard-button,
        .navbar-register-button {
       filter: none;
        }
      </style>
    <![endif]-->
<!-- ****************
      After neccessary customization/modification, Please minify HTML/CSS according to http://browserdiet.com/en/ for better performance
     **************** -->
</head>

<body>

<!-- =========================
     SECTION: HOME / HEADER  
    ============================== -->
<header class="header" data-stellar-background-ratio="0.5" id="home"> 
  
  <!-- COLOR OVER IMAGE -->
  <div class="overlay-layer">
  
  <!-- STICKY NAVIGATION -->
  <div class="navbar navbar-inverse bs-docs-nav navbar-fixed-top sticky-navigation" role="navigation">
    <div class="container">
      <div class="navbar-header"> 
        
        <!-- LOGO ON STICKY NAV BAR -->
        <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#stamp-navigation"> <span class="sr-only">Toggle navigation</span> <span class="icon-grid-2x2"></span> </button>
      </div>
      
      <!-- TOP BAR -->
      <div class="navbar-collapse collapse" id="stamp-navigation"> 
        <!-- LOGIN REGISTER -->
        <ul class="nav navbar-nav navbar-right login-register small-text">
          <li style="padding:20px;"> Welcome, <%= nickname %> </li>
          <li class="register-button"><a href="/logout" class="navbar-register-button">Logout</a> </li>
        </ul>
      </div>
    </div>
    <!-- /END CONTAINER --> 
  </div>
  <!-- /END STICKY NAVIGATION --> 
  
  <!-- CONTAINER -->
  <div class="container">
    <div class="row" > 
      
      <!-- BRIEF IMAGE -->
      <div class="col-md-6 wow fadeInLeft" data-wow-offset="20" data-wow-duration="1.75s">
        <div class="brief-image-left"> <img src="images/imac-ipad.png" alt=""> </div>
      </div>
      
      <!-- BRIEF HEADING -->
      <div class="col-md-6 content-section wow fadeInRight" data-wow-offset="20" data-wow-duration="1.75s">
        <h2 class="text-left white-text">Current<strong> Rooms</strong></h2>
        <div class="colored-line-left"> </div>
        <!-- FEATUR ACCORDION WITH ICON -->
        <div class="panel-group" id="accordion"> 
          
          <!-- SINGLE ACORDIION -->
          <div class="panel panel-default"> 
            
            <!-- ACORDIION DESCRIPTION / TEXT -->
            <div id="collapseOne" class="panel-collapse collapse in" role="tabpanel" aria-labelledby="headingOne">
              <div class="panel-body">
                <ul>
                  <% for(i = 0; i < rooms.length; i++) { %>
                  <li><a href="../r/<%= rooms[i].roomurl %>"><%= rooms[i].roomurl %></a> - <a href="../user/leave?rid=<%= rooms[i].roomid %>" style="padding:5px">Leave Room</a></li>
                  <% } %>
                </ul>
              </div>
            </div>
          </div>
          <div class="row">
            <div class="col-sm-6 pull-right">
              <div class="horizontal-subscribe-form">
                <form class="form-inline" id="login-form" method="post" action="/user/newroom">
                  <input type="text" id="roompass" name="roompass" class="form-control input-box" placeholder="Optional room password" style="width:100%">
                  <button class="btn btn-primary secondary-button" style="width:100%">Create</button>
                </form>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</header>

<!-- =========================
     SCRIPTS   
    ============================== --> 
<script src="js/jquery.min.js"></script> 
<script>
        /* PRE LOADER */
        jQuery(window).load(function () {
            "use strict";
            jQuery(".status").fadeOut();
            jQuery(".preloader").delay(1000).fadeOut("slow");
        })
    </script> 
<script src="js/smoothscroll.js"></script> 
<script src="js/bootstrap.min.js"></script> 
<script src="js/jquery.nav.js"></script> 
<script src="js/wow.min.js"></script> 
<script src="js/nivo-lightbox.min.js"></script> 
<script src="js/owl.carousel.min.js"></script> 
<script src="js/jquery.stellar.min.js"></script> 
<script src="js/retina.min.js"></script> 
<script src="js/jquery.ajaxchimp.min.js"></script> 

<!-- GOGLE MAP --> 
<script src="https://maps.googleapis.com/maps/api/js"></script> 

<!-- CUSTOM JS  --> 
<script src="js/custom.js"></script>
</body>
</html>